.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.player-scale {
  transform: scale(1.3);

  @media screen and (max-width: 32.5em) {
    transform: scale(1.1);
  }
}

.first-player-pl {
}
.second-player-pl {
}
.third-player-pl {
}

// Animation
// @keyframes rotating {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
